@import url('https://fonts.googleapis.com/css2?family=Tangerine&display=swap');
#logo_link{
    padding: 10px;
}
.logo{
    width: 80px;
    margin-top: 10px;
    border-radius: 50%;
}
header{
    background-color: #cbb67d;
    display: grid;
    grid-template-columns: 10% 90%;
    padding-bottom: 15px;
}
nav a{
    color: #105284;
    text-align: center;
    padding: 15px;
}
nav a:hover{
    color: white;
}
nav{
    grid-column: 1/3;
}
.headline{
    color: #105284;
    font-size: 90px;
    margin: 0;
    font-family: 'Brush Script MT', cursive, Helvetica, sans-serf;
}
.intro{
    font-family: Tangerine, Helvetica, sans-serif;
    font-size: 57px;
    color: #105284;
}
.activities{
    margin-top: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.committee{
    text-align: center;
    font-family: 'Brush Script MT', cursive;
    color: #105284;
    font-size: 40px;
}
footer{
    background-color: #cbb67d;
    color: #105284;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
footer p{
    margin: 0;
    grid-column: 1/2;
}
.site{
    grid-column: 2/3;
    text-align: right;
    grid-row: 1/2;
}
.past{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.past_intro{
    grid-column: 1/7;
    text-align: center;
    color: #105284;
    font-size: 40px;
    margin: 25px;
    font-family: 'Brush Script MT', cursive, Helvetica, sans-serf;
}
.dec{
    grid-column: 2/3;
    grid-row: 2/4;
    width: 200px;
    margin: 0;
    margin-top: 25px;
    font-family: Tangerine, Helvetica, sans-serif;
    font-size: 37px;
    color: #105284;
}
.dec_program{
    width: 200px;
    grid-column: 3/4;
    grid-row: 2/4;
    float: right;
    margin-top: 25px;
}
.jan{
    grid-column: 4/5;
    grid-row: 2/4;
    width: 200px;
    margin: 0;
    margin-left: 25px;
    margin-top: 25px;
    font-family: Tangerine, Helvetica, sans-serif;
    font-size: 37px;
    color: #105284;
}
.jan_program{
    width: 150px;
    grid-column: 5/6;
    grid-row: 2/4;
    float: right;
    margin-top: 25px;
    margin-left: 25px;
}
.feb{
    grid-column: 2/3;
    grid-row: 4/6;
    width: 200px;
    margin: 0;
    margin-top: 5px;
    font-family: Tangerine, Helvetica, sans-serif;
    font-size: 37px;
    color: #105284;
}
.feb_invite{
    width: 150px;
    grid-column: 3/4;
    grid-row: 4/6;
    margin-top: 15px;
    margin-left: 25px;
}
.feb_decor{
    width: 150px;
    grid-column: 4/5;
    grid-row: 4/6;
    margin-top: 15px;
    margin-left: 25px;
}
.feb_sisters{
    width: 200px;
    grid-column: 5/6;
    grid-row: 4/6;
    margin-top: 15px;
}
.mar{
    grid-column: 1/2;
    grid-row: 6/8;
    width: 200px;
    margin: 0;
    margin-top: 30px;
    font-family: Tangerine, Helvetica, sans-serif;
    font-size: 37px;
    color: #105284;
    margin-left: 25px;
}
.samples{
    width: 200px;
    grid-column: 2/3;
    grid-row: 6/8;
    margin-top: 30px;
    margin-left: 25px;
}
.paint{
    width: 150px;
    grid-column: 3/4;
    grid-row: 6/8;
    margin-top: 30px;
    margin-left: 25px;
}
.mar_sisters1{
    width: 150px;
    grid-column: 4/5;
    grid-row: 6/8;
    margin-top: 30px;
    margin-left: 25px;
}
.mar_sisters2{
    width: 200px;
    grid-column: 5/6;
    grid-row: 6/8;
    margin-top: 30px;
    margin-right: 25px;
}
.apr{
    grid-column: 2/3;
    grid-row: 8/10;
    width: 200px;
    margin: 0;
    margin-top: 25px;
    font-family: Tangerine, Helvetica, sans-serif;
    font-size: 37px;
    color: #105284;
}
.apr_invite{
    width: 150px;
    grid-column: 3/4;
    grid-row: 8/10;
    margin-left: 25px;
    margin-top: 25px;
}
.may{
    grid-column: 4/5;
    grid-row: 8/10;
    width: 200px;
    margin: 0;
    margin-top: 25px;
    font-family: Tangerine, Helvetica, sans-serif;
    font-size: 37px;
    color: #105284;
}
.stars{
    width: 150px;
    grid-column: 5/6;
    grid-row: 8/10;
    margin-top: 25px;
}
.jun{
    grid-column: 2/3;
    grid-row: 10/12;
    width: 200px;
    margin: 0;
    margin-top: 25px;
    font-family: Tangerine, Helvetica, sans-serif;
    font-size: 37px;
    color: #105284;
}
.jun_sisters1{
    width: 150px;
    grid-column: 3/4;
    grid-row: 10/12;
    margin-left: 25px;
    margin-top: 25px;
}
.jun_sisters2{
    width: 150px;
    grid-column: 4/5;
    grid-row: 10/12;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 25px;
}
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 350px;
  position: relative;
  float: left;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.upcoming{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.join{
    grid-column: 1/5;
    grid-row: 1/2;
    text-align: center;
    color: #105284;
    font-size: 40px;
    margin: 25px;
    font-family: 'Brush Script MT', cursive, Helvetica, sans-serf;
}
.jul{
    grid-column: 1/2;
    grid-row: 2/3;
    font-family: Tangerine, Helvetica, sans-serif;
    font-size: 37px;
    color: #105284;
    margin-left: 25px;
}
.search{
    width: 200px;
    grid-column: 2/3;
    grid-row: 2/3;
    margin-top: 50px;
}
.aug{
    grid-column: 3/4;
    grid-row: 2/3;
    font-family: Tangerine, Helvetica, sans-serif;
    font-size: 37px;
    color: #105284;
}
.temple{
    width: 200px;
    grid-column: 4/5;
    grid-row: 2/3;
    margin-top: 75px;
    margin-left: 25px;
}
.sep{
    grid-column: 1/2;
    grid-row: 3/4;
    font-family: Tangerine, Helvetica, sans-serif;
    font-size: 37px;
    color: #105284;
    margin-left: 25px;
}
.service{
    width: 200px;
    grid-column: 2/3;
    grid-row: 3/4;
    margin-left: 25px;
    margin-top: 50px;
}
.oct{
    grid-column: 3/4;
    grid-row: 3/4;
    font-family: Tangerine, Helvetica, sans-serif;
    font-size: 37px;
    color: #105284;
}
.centered{
    width: 200px;
    grid-column: 4/5;
    grid-row: 3/4;
    margin-top: 75px;
}
.nov{
    grid-column: 1/2;
    grid-row: 4/5;
    font-family: Tangerine, Helvetica, sans-serif;
    font-size: 37px;
    color: #105284;
    margin-left: 25px;
}
.gratitude{
    width: 200px;
    grid-column: 2/3;
    grid-row: 4/5;
    margin-bottom: 20px;
    margin-top: 50px;
}
.dec2{
    grid-column: 3/4;
    grid-row: 4/5;
    font-family: Tangerine, Helvetica, sans-serif;
    font-size: 37px;
    color: #105284;
}
.nativity{
    width: 200px;
    grid-column: 4/5;
    grid-row: 4/5;
    margin-left: 25px;
    margin-top: 50px;
}